@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800&family=Barlow:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.barlow-condensed-regular {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .table-responsive {
    overflow-x: auto;
    max-width: 100%;
  }

  @media screen and (max-width: 600px) {
    .table-responsive {
      overflow-x: auto;
      display: block;
    }
    .table-responsive table {
      width: 100%;
    }
    .table-responsive table thead {
      display: none;
    }
    .table-responsive table tbody, .table-responsive table tr, .table-responsive table td {
      display: block;
      width: auto;
      border: none;
    }
    .table-responsive table td {
      border-bottom: 1px solid #ddd;
    }
  }
  